header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    left: 0px;
    top: 0px;

    background: #FFC244;

}

.logo {
    font-family: "Itim", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3pc;
    margin-left: 20px;
    color: #00885f8c;
}

.login {
    font-family: "Itim", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2pc;
    margin-right: 20px;
    background-color: #00885f8c;
    width: 7pc;
    height: 3pc;
    text-align: center;
    border-radius: 100px;
    color: white;
}
main{
    background: white;
    height: 100pc;
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0;
}
.hh {
    background: #FFC244;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0;
}
